<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #831C59;"></span>
		<span class="sg-label">
            $color-accent-purple-dark <br />
            #03804d
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E672B6;"></span>
		<span class="sg-label">
			$color-accent-purple-lite <br />
			#d4f3e6
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #105336;"></span>
		<span class="sg-label">
			$color-accent-green-dark <br />
			#a59b15
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5EC88C;"></span>
		<span class="sg-label">
			$color-accent-green-lite <br />
			#fffecf
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C88E64;"></span>
		<span class="sg-label">
			$color-accent-brown-lite <br />
			#b12a0b
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">
			$color-accent-rich-black <br />
			#fdded8
		</span>
	</li>
</ul>