<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #5D1340;"></span>
		<span class="sg-label">
            $color-accent-purple-dark <br />
            #03804d
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E672B6;"></span>
		<span class="sg-label">
			$color-accent-purple-lite <br />
			#d4f3e6
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0F4D32;"></span>
		<span class="sg-label">
			$color-accent-green-dark <br />
			#a59b15
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5EC88C;"></span>
		<span class="sg-label">
			$color-accent-green-lite <br />
			#fffecf
		</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #59450D;"></span>
		<span class="sg-label">
			$color-accent-mustard-dark <br />
			#fdded8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DCB13C;"></span>
		<span class="sg-label">
			$color-accent-mustard-lite <br />
			#b12a0b
		</span>
	</li>

</ul>