<ul class="sg-colors">
    <li>
		<span class="sg-swatch" style="background: #2C5491;"></span>
		<span class="sg-label">
			$color-seal-blue <br />
			#41C9F3
		</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #5E9AC8;"></span>
		<span class="sg-label">
			$color-flag-blue <br />
			#F01B27
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #BA2E3A;"></span>
		<span class="sg-label">
			$color-flag-red <br />
			#F01B27
		</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #005488;"></span>
		<span class="sg-label">
			$color-seal-ring-blue <br />
			#41C9F3
		</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #71C8E6;"></span>
		<span class="sg-label">
			$color-seal-sky-blue <br />
			#F01B27
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9A574B;"></span>
		<span class="sg-label">
			$color-seal-ship-brown <br />
			#F01B27
		</span>
	</li>
    	<li>
		<span class="sg-swatch" style="background: #D8232A;"></span>
		<span class="sg-label">
			$color-seal-banner-red <br />
			#F01B27
		</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #009949;"></span>
		<span class="sg-label">
			$color-seal-green <br />
			#F01B27
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFF101;"></span>
		<span class="sg-label">
			$color-seal-yellow <br />
			#F01B27
		</span>
	</li>
    	<li>
		<span class="sg-swatch" style="background: #F5C4AD;"></span>
		<span class="sg-label">
			$color-seal-beige <br />
			#F01B27
		</span>
	</li>
</ul>
